body{
     background-color: skyblue;
}
section{
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
}