*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
body{
     position: relative;
     background-color: rgba(128, 128, 128, 0.11);
     overflow-x: hidden;
}
form input{
     width: 700px!important;
}
.bord, .ccc, .suuum, .suuu{
     border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
.tag{
     padding: 2px 5px;
     width: max-content;
     background-color: rgb(5, 81, 87);
     color: white;
}
.new{
     font-weight: 700;
}
.old{
     font-style: oblique;
     text-decoration: line-through;
}
.dis{
     padding: 2px;
     font-weight: 500;
     color: orange;
     background-color: rgba(255, 166, 0, 0.2);
}
.bi-star-fill, .bi-star-half, .bi-star, .bi-patch-check-fill, .bi-grid-fill{
     color: orange;
}
.deli{
     font-size: 13px;
     margin-bottom: 15px;
}
.exp{
     color: orange;
}
.btnn{
     margin: auto;
     color: white;
     font-weight: 600;
     background-color: orange;
     padding: 5px;
     width: 60%;
     text-align: center;
     border-radius: 5px;
}
.bt{
     font-size: 20px;
     width: 50px;
}
.btnnn{
     align-items: center;
}
.btn-outline-success{
     border: 1px solid orange;
     color: orange;
}
.btn-outline-success:hover{
     background-color: orange;
     border: 1px solid orange;
}
.carts{
     position: absolute;
     width: 80vw;
     height: 80vh;
     background-color: #fff;
     top: 10%;
     left: 10%;
     padding: 10px;
}
.cardd{
     max-height: 400px;
     display: flex;
     flex-direction: column;
     background-color: rgb(255, 251, 239);
}
.img{
     height: 100px;
}
.cold{
     gap: 20px;  
     display: grid;
     grid-template-columns: 2fr 1fr;
}
.col{
     background-color: rgba(128, 128, 128, 0.11);
     padding: 10px;
}
.col3{
     text-align: center;
}
.suuum, .ccc{
     text-align: left;
     font-weight: 500;
}
.suuum,.suuu,.ccc{
     padding: 5px 0;
}
.te{
     margin-top: 10px;
}
img{
     width: 100%;
     height: 100%;
     object-fit: contain;
     background: transparent;
}
.good{
     background-color: #fff;
     padding: 5px;
}
.goo{
     display: flex;
     justify-content: space-between;
}
.goo .img{
     width: 50px;
     height: 50px;
}
.goo .img{
     font-size: 20px;
}
.expp{
     font-size: 10px;
     color: rgb(204, 133, 0);
}
.btttt{
     color: orange;
     font-size: 15px;
}
.gpoo{
     display: flex;
     justify-content: space-between;
}
.gpoo .bt{
     padding: 0;
     height: 20px;
     width: 20px;
     text-align: center;
     font-size: 10px;
}
.name{
     font-size: 15px;
}
.cards{
     padding: 10px 40px;
     margin: 0 auto;
}